@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueçeu sua senha?";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
    ViewBag.HideBorder = true;
}

@*<h2>@ViewData["Title"]</h2>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
*@

<div id="loginPage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <section id="loginForm">
                    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()


                        <div class="login-container">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div>
                                            <h2>@ViewData["Title"]</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "E-mail", onfocus = "loginFormFocused(this)" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <input type="submit" value="Recuperar" class="btn btn-primary pull-right mb-xl" />
                                </div>
                            </div>

                        </div>

                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
